{% extends 'base.html.twig' %}

{% block title %}QR Code{% endblock %}

{% block body %}
    <a href="{{path('showLocations')}}" class="retourHome">Retour</a>
    <div class="containerQrcode">
        <div class="qrcode_block">
            <p class="Nbsalle">{{ description }}</p>
            <img src="{{ qr_code_data_uri(qrCode) }}" />
            <div class="timer"><span id="time">00:30</span>s</div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script>
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10)
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.text(minutes + ":" + seconds);

                if (--timer < 0) {
                    location.reload();
                }
            }, 1000);
        }

        jQuery(function ($) {
            var fiveMinutes = 60 / 2,
                display = $('#time');
            startTimer(fiveMinutes, display);
        });
    </script>
{% endblock %}
